*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main-container{
    background-color: rgb(246, 214, 219);
    height: 100vh;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr ; */
} 
.images{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.first-image{
    height: 400px;
    width:350px;
    object-fit: cover;
    margin-top: 100px;
}
.second-image{
    height: 400px;
    width:350px;
    object-fit: cover;
    margin-top: 100px;
}
h1{
  font-size: 65px;
  margin-top: 70px;
  margin-left: 70px;
  margin-bottom: 20px;
}
p{
    width: 750px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.6);
    /* line-gap-override: 10px; */
}
button{
    background-color: rgb(182, 77, 112);
    color: white;
    padding: 10px 10px;
    border: none;
    font-size: 18px;
    border-radius: 3px;
    margin-top: 30px;
    width: 110px;
    margin-left: 300px;
}
.content{
    display: grid;
    justify-content: center;
    /* gap: 30px; */
}