.a-container{
    color: red;
    background-color: aquamarine;
    height:300px;
    width: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    justify-content: center;
    }
.b-container{
    color: rgb(184, 159, 208);
    background-color: rgb(70, 2, 2);
    height:300px;
    width: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.c-container{
    color: red;
    background-color: aquamarine;
    height:300px;
    width: 400px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

}
.d-container{
    color: rgb(188, 177, 177);
    background-color: rgb(70, 2, 2);
    height:300px;
    width: 400px;
    margin-right: 10px;
   border-radius: 10px;
   margin-bottom: 10px;
}
.e-container{
    color: red;
    background-color: aquamarine;
    height:300px;
    width: 400px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.f-container{
    color: rgb(195, 183, 207);
    background-color: rgb(70, 2, 2);
    height:300px;
    width: 400px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.g-container{
    color:red ;
    background-color: aquamarine;
    height:300px;
    width: 400px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

}
.outer-container{
    display:flex;
   /* flex-direction: column;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column-reverse; */
    flex-wrap: wrap;
    text-align: center;
}
