*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background-color: white;
    height:450px;
    width:370px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;

}
.login{
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.email,.password{
    border-radius: 40px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 40px;
    font-size: 15px;
}
.login-account{
    border-radius: 40px;
    margin-bottom: 10px;
    padding: 11px 63px 11px 63px;
    font-size: 19px;
    border: none;
    color: white;
    background-color: rgb(239, 98, 47);
    cursor: pointer;
}
.forgot-password{
    color: rgb(239, 98, 47);
    text-decoration: underline;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
}
.account{
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
}
.create-account{
    border-radius: 40px;
    width: 240px;
    height: 40px;
    font-size: 15px;
    border: 1px solid  rgb(239, 98, 47);
    text-align: center;
    font-weight: bold;
    color: orangered;
    background-color: white;
}