*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.hero-section{
    display: grid;
    grid-template-columns: 50% 50%;
}
.hero-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero-left-content{
    background-color: #fef7e5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10% 3% 10% 20%;
    text-align: center;
}
.hero-heading{
    margin-bottom: 20px;
}
.hero-para{
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 40px;
}
.read-more{
    background-color: #e2781a;
    color: white;
    border-radius: 30px;
    padding: 10px;
    width: 150px;
    border: none;
}
.read-more:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}