*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    height: 70px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
nav{
    height: 650px;
    width: 25%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
}
article{
    height: 650px;
    width: 49%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 35px;

}
aside{
    height: 650px;
    width: 25%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 35px;

}
.content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
footer{
    height: 70px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
}