*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    height: 90px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
h2{
    height: 50px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}
h3{
    height: 130px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}
.sidebar{
    height: 400px;
    width: 620px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-area{
    height: 400px;
    width: 1050px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
footer{
    height: 90px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}