.container{
    background-image: url('https://img.freepik.com/premium-vector/rainbow-background-rainbow-gradient-backdrop-vector_88211-4771.jpg?w=740');
    height: 500px;
    width: 450px;
}
.inside-image{
    width: 390px;
    height: 370px;
    margin-left:15px;
    margin-top: 10px;
}
h1{
    margin-left: 30px;
    color:rgb(188, 7, 7);
    margin-top: 1px;
    margin-bottom: 0px;
}
p{
    font-size: 19px;
    margin-left: 50px;
    margin-top: 8px;
    color:rgb(2, 50, 49);
    font-size:20px;
}
.whole-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
