*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#box1{
    height: 150px;
    width: 700px;
    border: 1px solid black;
    background-color: aquamarine;
}
#box2{
    height: 150px;
    width: 700px;
    border: 1px solid black;

    background-color: chocolate;
}
#box3{
    height: 150px;
    width: 700px;
    border: 1px solid black;

    background-color:cornflowerblue;
}
#box4{
    height: 150px;
    width: 700px;
    border: 1px solid black;

    background-color: darkgoldenrod;
}