h1{
    text-align:center;
    font-size: 50PX;
    border: 2px solid green;
    border-width: 20px;
    background-color: rgb(4, 78, 123);
    border-width: 50px;
    color: rgb(222, 220, 204);
    padding-left: 100px;
    padding-top: 200px;
    padding-right: 100px;
    padding-bottom: 200px;
    margin-top: 90px;
    margin-right: 50px;
    margin-bottom: 90px;
    margin-left: 50px;


}