* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 3fr;
  color: white;
  font-size: 30px;
}
.header {
  grid-column: 1 / span 3;
  grid-row: 1;
  background-color: rgb(33, 185, 104);
}

.sidebar1 {
  grid-column: 1;
  grid-row: 2;
  background-color: rgb(0, 70, 70);
}

.main-column {
  grid-column: 2;
  grid-row: 2;
  background-color: blueviolet;
}
.sidebar2 {
  grid-column: 3;
  grid-row: 2;
  background-color: brown;
}
